page-january {
 
    .jan-glass{
        background-color:#ffffffe8 ;
        color:#21518f !important;
    }

 .months-glass{
        background-color: #f3f3f3bd !important;
    color:#1b3d6b !important;
}
 .months-glass,h2,{

    color:#86baca !important;
}

 .months-glass,p{

    color:#3f4b4e !important;
}
 .months-glass:hover{
        background-color:#d9edf38f !important;
    color:#12161b;
}
    }

