page-january {
 .circle{
    width: 50px;
    height: 50px;
    color:white;
    font-size: 20px;
     // border-radius:50px;
      background:#1b3d6b ;
          //  position: absolute;
          //  bottom: 20px;
         //   right: 15px;
            border-radius: 33px;
            font-size: 16px;
           font-family: Tahoma, Verdana, Segoe, sans-serif;
            //overflow: hidden;
           // padding: 5px;
          
 }
    .jan-glass{
        background-color:#ffffffe8 ;
        color:#21518f !important;
    }

 .months-glass{
        background-color: #f3f3f3bd !important;
    color:#1b3d6b !important;
}
 .months-glass,h2,{

    color:#1b3d6b !important;
    font-weight: 700;
}

 .months-glass,p{

    color:#243dcc !important;
}
 .months-glass:hover , .months-glass:hover>h2:hover{
        background-color:#8696f18f !important;
    color:#cad8eb;
}
    }

