page-month {
    .months-glass{
        background-color:#ffffffe8 ;
        color:#001c41;
    }
 .months-glass:hover{
    background-color:#001c414a;
    
   // background-color:#0d537cf5 !important;
    color:#ffffff;
}
}
