page-month {
    .months-glass{
        background-color:#ffffffe8 ;
        color:#86baca;
    }
 .months-glass:hover{
        background-color:#86bacada !important;
   // background-color:#0d537cf5 !important;
    color:#ffffff;
}
}
