page-details {
.lightbg{
    background-color:#8aaad6;
}
.custred{
    background-color:red;
}
.darkbg{
    background-color:#1b3d6b;
  //  color:white;
}
.lightbg>p{
}

.headertextb{
    color:#fff;
    font-weight:700;
}

.headertext{
    color:#fff;
    font-size:15px;
    font-weight:500;
    text-transform:Initial;

}

}
